*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #E6E8EF;
}

body{
    background-image: url(/image/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    background-size: cover;
}

article{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 68px;
    padding: 5%;
    gap: 16px;

}

h2,p{
    font-size: 1.6vw;
}

h1{
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 9vw;
    color: #E6E8EF;
    text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.26);
    margin-bottom: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 56px;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6vw;
}

button:hover{
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.26);
    font-size: 2vw;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width:800px) {
    article{
        margin-top: 50%;
    }

}