*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #E6E8EF;
}

body{
    height: 100%;
    background-image: url(/image/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    background-size: cover;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    gap: 16px;

}

h1{
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 158px;
    color: #E6E8EF;
    text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.26);
    margin-bottom: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 56px
    ;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: large;
}

button:hover{
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    color: #FD87B5;
    text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.26);
    font-size: 2rem;
    transition: all 0.3s ease 0s;
}
